
#limpar_dados {
  background-color: rgb(115, 115, 116);
  color: rgb(255, 255, 255);
}

#enviar {
  background-color: rgb(115, 115, 116);
  color: rgb(255, 255, 255);
}

#Recrutamento Online {
  color:color-mix(in lch increasing hue, color percentage, color percentage)
}
